[Unit]
Description=Fan Control Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /etc/ipmi_fan_control/scripts/spinpid2.py
ExecStartPost=/bin/bash -c 'if ! pgrep -f /etc/ipmi_fan_control/scripts/spinpid2.py > /dev/null; then logger -p user.error "Fan control script is not running"; fi'
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
